body, html{
    height: 100%;
    margin: 0px;
}
div.top{
    background-color: rgb(17, 1, 31);
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
    "NAVIGATION BAR"
                    */

nav.navigationBar{
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 10%;
    background-size: 180% 180%;
    display: flex;
    position: fixed;
    background-color: #000000;
}
div.navBarFrame{
    width: 100%;
    height: 11%;
    z-index: 100;
    background-color: #010044;
    position: fixed;
    border-color: #000000;
    border-width: thick;
    
}
.navigationBar .behind{
    position: absolute;
    width: 200%;
    height: 100%;
    background: linear-gradient(75deg,#140035 0.1%, #71d9ffab 80%, #01ff4d8f 100%);
    animation:gradient-animation 20s ease-in-out infinite;
    z-index: 1;
}
.navigationBar .blur{
    position: absolute;
    background-color: #021649;
    width: 100%;
    height: 100%;
    filter: blur(50px);
    z-index: 2;
}
@keyframes gradient-animation{
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}
.navigationBar .text{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.navigationBar .text h1{
    color: rgba(151, 206, 255, 0.801);
    filter: brightness(120%);
    font-style: italic;
    font-weight: 400;
    font-size: 200%;
    margin-left: 10rem;
}

/*
    TOP
        */

.top .innertop{
    width: 100%;
    height: 60%;
}
.top .innertop .blur{
    background: rgb(184,153,255);
    background: radial-gradient(circle, rgba(9,70,121,1) 0%, rgba(9,70,121,1) 22%, rgba(17, 1, 31) 90%);
    width: 100%;
    height: 40%;
    filter: blur(10px);
    position: absolute;
}
.top .innertop .text{
    width: 100%;
    height: 40%;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.top .innertop .text h1{
    color: rgba(151, 206, 255, 0.801);
    filter: brightness(120%);
    font-family: "Satisfy", cursive;
    font-style: italic;
    font-weight: 400;
    font-size: 350%;
    text-align: center;
}
.top .innertop .text p{
    color: rgb(152, 207, 255);
    text-align: center;
}

/*
    Middle and Carousel
                        */

div.middle{
    background-color: black;
    width: 100%;
    height: 50%;
}
.middle .carousel{
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: absolute;
}
.carousel .slide{
    margin-left: auto;
    margin-right: auto;
    position:static;
    width: 90%;
    height: 50%;
}
.carousel .slide h1, h2, p{
    color: aliceblue;
    text-align: center;
    vertical-align:text-bottom;

}
.carousel .slide p{
    font-size: large;
    vertical-align:sub;
}
.prevB, .nextB {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    z-index: 50;
}
.prevB:hover, .nextB:hover {
    background-color: #555;
}
.prevB{
    left: 10px;
}
.nextB{
    right: 10px;
}
/*
    Bottom and socials
                        */

div.bottom{
    display: flex;
    background-color: rgb(17, 1, 31);
    width: 100%;
    height: 30%;
    flex-direction: row;
    justify-content: center;
    align-items:center
}
.bottom .contactText h1{
    color: rgb(151, 206, 255, 0.801);
    font-size: small;
}
.fa:hover{
    opacity: 50%;
}
.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
}
.bottem .fa-github{
    background: rgb(17, 1, 31);
    color: rgb(4, 21, 68);
}
.bottem .fa-linkedin{
    background: rgb(17, 1, 31);
    color: rgb(4, 21, 68);
}